## Pyspark Basics-1

- PySpark installation 
- PySpark Session craetion
- Reading from CSV file
- Show details from CSV file
- Select query on CSV file data
- Adding column 
- Renaming column 
- Droping column

In [127]:
import pyspark

In [128]:
print(pyspark)

<module 'pyspark' from '/home/sai/.local/lib/python3.8/site-packages/pyspark/__init__.py'>

In [129]:
!pip3 install pandas

Requirement already satisfied: pandas in /home/sai/.local/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/lib/python3/dist-packages (from pandas) (1.18.4)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.8.1)

In [130]:
import pandas as ps

In [131]:
from pyspark.sql import SparkSession

In [132]:
spark = SparkSession.builder.appName('SparkDemo').getOrCreate()

In [133]:
spark

In [134]:
df_pyspark=spark.read.csv('test1.csv')

In [135]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [136]:
df_pyspark.show()

+-------+---+--------+
|    _c0|_c1|     _c2|
+-------+---+--------+
|   Name|Age| Company|
|    Sai| 30| ABC Inc|
|  Kumar| 29| DEF INC|
| Chetan| 33|  Google|
|Kishore| 26|Facebook|
+-------+---+--------+

In [137]:
#Read header from dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [138]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [139]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Company: string (nullable = true)

In [140]:
# Another way to read csv with options
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [141]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Company: string (nullable = true)

In [142]:
# Get based on single column
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|    Sai|
|  Kumar|
| Chetan|
|Kishore|
+-------+

In [143]:
# Get based on multiple columns
df_pyspark.select(['Name','Company']).show()

+-------+--------+
|   Name| Company|
+-------+--------+
|    Sai| ABC Inc|
|  Kumar| DEF INC|
| Chetan|  Google|
|Kishore|Facebook|
+-------+--------+

In [144]:
df_pyspark['Name']

Column<'Name'>

In [145]:
#check data types
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Company', 'string')]

In [146]:
df_pyspark.describe().show()

+-------+------+-----------------+-------+
|summary|  Name|              Age|Company|
+-------+------+-----------------+-------+
|  count|     4|                4|      4|
|   mean|  null|             29.5|   null|
| stddev|  null|2.886751345948129|   null|
|    min|Chetan|               26|ABC Inc|
|    max|   Sai|               33| Google|
+-------+------+-----------------+-------+

In [148]:
# Adding columns
df_pyspark=df_pyspark.withColumn('Experience',df_pyspark['Age']-23)

In [149]:
df_pyspark.show()

+-------+---+--------+----------+
|   Name|Age| Company|Experience|
+-------+---+--------+----------+
|    Sai| 30| ABC Inc|         7|
|  Kumar| 29| DEF INC|         6|
| Chetan| 33|  Google|        10|
|Kishore| 26|Facebook|         3|
+-------+---+--------+----------+

In [154]:
# Drpoing columns
df_pyspark = df_pyspark.drop('Experience')

In [155]:
df_pyspark.show()

+-------+---+--------+
|   Name|Age| Company|
+-------+---+--------+
|    Sai| 30| ABC Inc|
|  Kumar| 29| DEF INC|
| Chetan| 33|  Google|
|Kishore| 26|Facebook|
+-------+---+--------+

In [158]:
# Rename a column
df_pyspark = df_pyspark.withColumnRenamed('Company','Working At')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Working At|
+-------+---+----------+
|    Sai| 30|   ABC Inc|
|  Kumar| 29|   DEF INC|
| Chetan| 33|    Google|
|Kishore| 26|  Facebook|
+-------+---+----------+